<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gsNotasNETF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <gsNotasNETF.Properties.Settings>
            <setting name="Tema" serializeAs="String">
                <value>Claro</value>
            </setting>
            <setting name="Autoguardar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AjusteLineas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoGuardarEnBlanco" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecordarTam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizarAlCerrar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Heigh" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IniciarMinimizada" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostrarMismoGrupo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UltimoGrupo" serializeAs="String">
                <value />
            </setting>
        </gsNotasNETF.Properties.Settings>
    </userSettings>
</configuration>